<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>@ViewData["Title"] - @ViewData["AppTitle"]</title>

    <link href="lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet">
</head>
<body class="text-center">
    <main>
        @RenderBody()
    </main>
</body>
</html>