html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

main {
    width: 100%;
    padding: 15px;
    /*margin: auto;*/
}

.main-internal-sm {
    max-width: 580px;
    margin: auto;
}

/* Bin colours */
.lgi-bin-recycling {
    color: rgb(0,0,0);
    background-color: #7b7b7b;
    background-color: rgba(123, 123, 123,0.5);
}

.lgi-bin-general {
    color: rgb(0,0,0);
    background-color: #7f007e;
    background-color: rgba(127, 0, 126,0.5);
}

.lgi-bin-food {
    color: rgb(0,0,0);
    background-color: #bf6200;
    background-color: rgba(191, 98, 0,0.5);
}

.lgi-bin-garden {
    color: rgb(0,0,0);
    background-color: #007f01;
    background-color: rgba(0, 127, 1,0.5);
}

.lgi-bin-food-garden {
    background: linear-gradient(to left, rgba(191, 98, 0,0.5) 50%, rgba(0, 127, 1,0.5) 50%);
}