@page
@model AngusBiniCals.Pages.CalendarModel
@{
    ViewData["Title"] = "View calendar";
}

<div class="main-internal-sm">
    <h1 class="display-1"><i class="bi bi-calendar3"></i> @ViewData["AppTitle"]</h1>
    <h2 class="lead">@Model.Address</h2>
</div>